<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>CoopCycle</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.9.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>coopcycle</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>coopcycle</string>
				<string>fb1303550106471840</string>
				<string>com.googleusercontent.apps.211552794332-ssbgqhet0vcph05j14kd4eknls3k5q6q</string>
				<string>com.googleusercontent.apps.211552794332-6ilbu3eod6ru2nt8p606n9706sli27td</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>134</string>
	<key>FacebookAppID</key>
	<string>1303550106471840</string>
	<key>FacebookClientToken</key>
	<string></string>
	<key>FacebookDisplayName</key>
	<string>CoopCycle</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>comgooglemaps</string>
		<string>citymapper</string>
		<string>uber</string>
		<string>lyft</string>
		<string>transit</string>
		<string>truckmap</string>
		<string>waze</string>
		<string>yandexnavi</string>
		<string>moovit</string>
		<string>yandextaxi</string>
		<string>yandexmaps</string>
		<string>kakaomap</string>
		<string>szn-mapy</string>
		<string>mapsme</string>
		<string>osmandmaps</string>
		<string>gett</string>
		<string>nmap</string>
		<string>dgis</string>
		<string>lftgpas</string>
		<string>message</string>
		<string>readdle-spark</string>
		<string>airmail</string>
		<string>ms-outlook</string>
		<string>googlegmail</string>
		<string>inbox-gmail</string>
		<string>ymail</string>
		<string>superhuman</string>
		<string>fbapi</string>
		<string>fbapi20130214</string>
		<string>fbapi20130410</string>
		<string>fbapi20130702</string>
		<string>fbapi20131010</string>
		<string>fbapi20131219</string>
		<string>fbapi20140410</string>
		<string>fbapi20140116</string>
		<string>fbapi20150313</string>
		<string>fbapi20150629</string>
		<string>fbapi20160328</string>
		<string>fbauth</string>
		<string>fb-messenger-share-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>App uses bluetooth to print receipts on thermal printers</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>App would like to use bluetooth</string>
	<key>NSCameraUsageDescription</key>
	<string>App requires access to camera</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>This allows us to track your location in realtime while delivering, to be visible by dispatchers</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>This allows us to track your location in realtime while delivering, to be visible by dispatchers</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Your current location will be used to locate you when there is no exact address (for example, in a park)</string>
	<key>NSMotionUsageDescription</key>
	<string>App requires access to motion data to optimize battery usage when tracking location</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>App requires access to photo library</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>App requires access to photo library</string>
	<key>UIAppFonts</key>
	<array>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Zocial.ttf</string>
		<string>Raleway-Regular.ttf</string>
		<string>OpenSans-Regular.ttf</string>
		<string>OpenSans-Bold.ttf</string>
		<string>Feather.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>AntDesign.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>RobotoMono-Regular.ttf</string>
		<string>RobotoMono-Bold.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>location</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
