<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>defaultMask</key>
	<dict>
		<key>identification_mask</key>
		<string></string>
		<key>edit_text_mask</key>
		<string></string>
	</dict>
	<key>defaultInitialMask</key>
	<dict>
		<key>identification_mask</key>
		<string></string>
		<key>edit_text_mask</key>
		<string></string>
	</dict>
	<key>defaultEditingMask</key>
	<dict>
		<key>identification_mask</key>
		<string></string>
		<key>edit_text_mask</key>
		<string></string>
	</dict>
	<key>MLA</key>
	<dict>
		<key>identification_mask</key>
		<string></string>
		<key>edit_text_mask</key>
		<string></string>
	</dict>
	<key>MLA_DNI</key>
	<dict>
		<key>identification_mask</key>
		<string>XX.XXX.XXX</string>
		<key>edit_text_mask</key>
		<string>XX.XXX.XXX</string>
	</dict>
	<key>MLA_CI</key>
	<dict>
		<key>identification_mask</key>
		<string>XXXXXXXXX</string>
		<key>edit_text_mask</key>
		<string>XXXXXXXXX</string>
	</dict>
	<key>MLA_LC</key>
	<dict>
		<key>identification_mask</key>
		<string>XXXXXXX</string>
		<key>edit_text_mask</key>
		<string>XXXXXXX</string>
	</dict>
	<key>MLA_LE</key>
	<dict>
		<key>identification_mask</key>
		<string>XXXXXXX</string>
		<key>edit_text_mask</key>
		<string>XXXXXXX</string>
	</dict>
	<key>MLA_Otro</key>
	<dict>
		<key>identification_mask</key>
		<string>XXXXXXXXXXXXXXXXXXXX</string>
		<key>edit_text_mask</key>
		<string>XXXXXXXXXXXXXXXXXXXX</string>
	</dict>
	<key>MPE</key>
	<dict>
		<key>identification_mask</key>
		<string></string>
		<key>edit_text_mask</key>
		<string></string>
	</dict>
	<key>MPE_DNI</key>
	<dict>
		<key>identification_mask</key>
		<string>XXXXXXXX</string>
		<key>edit_text_mask</key>
		<string>XXXXXXXX</string>
	</dict>
	<key>MPE_C.E</key>
	<dict>
		<key>identification_mask</key>
		<string>XXXXXXXXXXXX</string>
		<key>edit_text_mask</key>
		<string>XXXXXXXXXXXX</string>
	</dict>
	<key>MPE_RUC</key>
	<dict>
		<key>identification_mask</key>
		<string>XXXXXXXXXXXX</string>
		<key>edit_text_mask</key>
		<string>XXXXXXXXXXXX</string>
	</dict>
	<key>MLU</key>
	<dict>
		<key>identification_mask</key>
		<string></string>
		<key>edit_text_mask</key>
		<string></string>
	</dict>
	<key>MLU_CI</key>
	<dict>
		<key>identification_mask</key>
		<string>X.XXX.XXX-X</string>
		<key>edit_text_mask</key>
		<string>X.XXX.XXX-X</string>
	</dict>
	<key>MLU_Otro</key>
	<dict>
		<key>identification_mask</key>
		<string>XXXXXXXXXXXXXXXXXXXX</string>
		<key>edit_text_mask</key>
		<string>XXXXXXXXXXXXXXXXXXXX</string>
	</dict>
	<key>MCO</key>
	<dict>
		<key>identification_mask</key>
		<string></string>
		<key>edit_text_mask</key>
		<string></string>
	</dict>
	<key>MCO_CC</key>
	<dict>
		<key>identification_mask</key>
		<string>XXXXXXXXXXXXXXXXXXXX</string>
		<key>edit_text_mask</key>
		<string>XXXXXXXXXXXXXXXXXXXX</string>
	</dict>
	<key>MCO_CE</key>
	<dict>
		<key>identification_mask</key>
		<string>XXXXXXXXXXXXXXXXXXXX</string>
		<key>edit_text_mask</key>
		<string>XXXXXXXXXXXXXXXXXXXX</string>
	</dict>
	<key>MCO_NIT</key>
	<dict>
		<key>identification_mask</key>
		<string>XXXXXXXXXXXXXXXXXXXX</string>
		<key>edit_text_mask</key>
		<string>XXXXXXXXXXXXXXXXXXXX</string>
	</dict>
	<key>MCO_Otro</key>
	<dict>
		<key>identification_mask</key>
		<string>XXXXXXXXXXXXXXXXXXXX</string>
		<key>edit_text_mask</key>
		<string>XXXXXXXXXXXXXXXXXXXX</string>
	</dict>
	<key>MLV</key>
	<dict>
		<key>identification_mask</key>
		<string></string>
		<key>edit_text_mask</key>
		<string></string>
	</dict>
	<key>MLV_CI-V</key>
	<dict>
		<key>identification_mask</key>
		<string>XXXXXXXXX</string>
		<key>edit_text_mask</key>
		<string>XXXXXXXXX</string>
	</dict>
	<key>MLV_CI-E</key>
	<dict>
		<key>identification_mask</key>
		<string>XXXXXXXXX</string>
		<key>edit_text_mask</key>
		<string>XXXXXXXXX</string>
	</dict>
	<key>MLV_RIF-J</key>
	<dict>
		<key>identification_mask</key>
		<string>XXXXXXXXX</string>
		<key>edit_text_mask</key>
		<string>XXXXXXXXX</string>
	</dict>
	<key>MLV_RIF-P</key>
	<dict>
		<key>identification_mask</key>
		<string>XXXXXXXXX</string>
		<key>edit_text_mask</key>
		<string>XXXXXXXXX</string>
	</dict>
	<key>MLV_RIF-V</key>
	<dict>
		<key>identification_mask</key>
		<string>XXXXXXXXX</string>
		<key>edit_text_mask</key>
		<string>XXXXXXXXX</string>
	</dict>
	<key>MLV_RIF-E</key>
	<dict>
		<key>identification_mask</key>
		<string>XXXXXXXXX</string>
		<key>edit_text_mask</key>
		<string>XXXXXXXXX</string>
	</dict>
	<key>MLV_RIF-G</key>
	<dict>
		<key>identification_mask</key>
		<string>XXXXXXXXX</string>
		<key>edit_text_mask</key>
		<string>XXXXXXXXX</string>
	</dict>
	<key>MLV_Pasaporte</key>
	<dict>
		<key>identification_mask</key>
		<string>XXXXXXXXXXXXXXXXXXXX</string>
		<key>edit_text_mask</key>
		<string>XXXXXXXXXXXXXXXXXXXX</string>
	</dict>
	<key>MLB_CPF</key>
	<dict>
		<key>identification_mask</key>
		<string>XXX.XXX.XXX-XX</string>
		<key>edit_text_mask</key>
		<string>XXX.XXX.XXX-XX</string>
	</dict>
	<key>MLB_CNPJ</key>
	<dict>
		<key>identification_mask</key>
		<string>XX.XXX.XXX/XXXX-XX</string>
		<key>edit_text_mask</key>
		<string>XX.XXX.XXX/XXXX-XX</string>
	</dict>
</dict>
</plist>
