<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consumer_credits</key>
	<dict>
		<key>image_name</key>
		<string>consumerCredits</string>
	</dict>
	<key>consumer_creditsAzul</key>
	<dict>
		<key>image_name</key>
		<string>consumerCredits</string>
	</dict>
	<key>account_moneyAzul</key>
	<dict>
		<key>image_name</key>
		<string>mediosIconoDineroEnCuentaAzul</string>
	</dict>
	<key>prepaid_card</key>
	<dict>
		<key>image_name</key>
		<string>mediosIconoDebitCard</string>
	</dict>
	<key>prepaid_cardAzul</key>
	<dict>
		<key>image_name</key>
		<string>mediosIconoDebitCardAzul</string>
	</dict>
	<key>debit_card</key>
	<dict>
		<key>image_name</key>
		<string>mediosIconoDebitCard</string>
	</dict>
	<key>debit_cardAzul</key>
	<dict>
		<key>image_name</key>
		<string>mediosIconoDebitCardAzul</string>
	</dict>
	<key>bank_transfer</key>
	<dict>
		<key>image_name</key>
		<string>mediosIconoTrasnferencia</string>
	</dict>
	<key>bank_transferAzul</key>
	<dict>
		<key>image_name</key>
		<string>mediosIconoTrasnferenciaAzul</string>
	</dict>
	<key>debmaster</key>
	<dict>
		<key>image_name</key>
		<string>mediosMasterDebito</string>
	</dict>
	<key>debvisa</key>
	<dict>
		<key>image_name</key>
		<string>mediosVisaDebito</string>
	</dict>
	<key>credit_card</key>
	<dict>
		<key>image_name</key>
		<string>mediosIconoTarjeta</string>
	</dict>
	<key>credit_cardAzul</key>
	<dict>
		<key>image_name</key>
		<string>mediosIconoTarjetaAzul</string>
	</dict>
	<key>cards</key>
	<dict>
		<key>image_name</key>
		<string>mediosIconoTarjeta</string>
	</dict>
	<key>cardsAzul</key>
	<dict>
		<key>image_name</key>
		<string>mediosIconoTarjetaAzul</string>
	</dict>
	<key>ticket</key>
	<dict>
		<key>image_name</key>
		<string>mediosIconoEfectivo</string>
	</dict>
	<key>ticketAzul</key>
	<dict>
		<key>image_name</key>
		<string>mediosIconoEfectivoAzul</string>
	</dict>
	<key>bapropagos</key>
	<dict>
		<key>image_name</key>
		<string>pagoEfvoIconoBAPro</string>
	</dict>
	<key>pagofacil</key>
	<dict>
		<key>image_name</key>
		<string>pagoEfvoIconoPagofacil</string>
	</dict>
	<key>rapipago</key>
	<dict>
		<key>image_name</key>
		<string>pagoEfvoIconoRapipago</string>
	</dict>
	<key>cargavirtual</key>
	<dict>
		<key>image_name</key>
		<string>mediosIconoCargavirtual</string>
	</dict>
	<key>redlink_atm</key>
	<dict>
		<key>image_name</key>
		<string>mediosIconoLink</string>
	</dict>
	<key>redlink_bank_transfer</key>
	<dict>
		<key>image_name</key>
		<string>mediosIconoLink</string>
	</dict>
    <key>redlink</key>
    <dict>
        <key>image_name</key>
        <string>mediosIconoLink</string>
    </dict>
	<key>visa</key>
	<dict>
		<key>image_name</key>
		<string>mediosIconoVisa</string>
	</dict>
	<key>master</key>
	<dict>
		<key>image_name</key>
		<string>mediosIconoMaster</string>
	</dict>
	<key>amex</key>
	<dict>
		<key>image_name</key>
		<string>mediosIconoAmex</string>
	</dict>
	<key>naranja</key>
	<dict>
		<key>image_name</key>
		<string>mediosIconoNaranja</string>
	</dict>
	<key>nativa</key>
	<dict>
		<key>image_name</key>
		<string>mediosNativa</string>
	</dict>
	<key>tarshop</key>
	<dict>
		<key>image_name</key>
		<string>mediosShopping</string>
	</dict>
	<key>cencosud</key>
	<dict>
		<key>image_name</key>
		<string>mediosCencosud</string>
	</dict>
	<key>cabal</key>
	<dict>
		<key>image_name</key>
		<string>mediosCabal</string>
	</dict>
	<key>diners</key>
	<dict>
		<key>image_name</key>
		<string>mediosDiners</string>
	</dict>
	<key>argencard</key>
	<dict>
		<key>image_name</key>
		<string>mediosArgencard</string>
	</dict>
	<key>cordial</key>
	<dict>
		<key>image_name</key>
		<string>mediosCordial</string>
	</dict>
	<key>cordobesa</key>
	<dict>
		<key>image_name</key>
		<string>mediosCordobesa</string>
	</dict>
	<key>cmr</key>
	<dict>
		<key>image_name</key>
		<string>mediosCmr</string>
	</dict>
	<key>account_money</key>
	<dict>
		<key>image_name</key>
		<string>mediosIconoDineroEnCuentaAzul</string>
	</dict>
	<key>bancomer_7eleven</key>
	<dict>
		<key>image_name</key>
		<string>pagoEfvoIcono7Eleven</string>
	</dict>
	<key>bancomer_atm</key>
	<dict>
		<key>image_name</key>
		<string>pagoEfvoIconoBancomer</string>
	</dict>
	<key>bancomer_bank_transfer</key>
	<dict>
		<key>image_name</key>
		<string>pagoEfvoIconoBancomer</string>
	</dict>
	<key>banamex_telecomm</key>
	<dict>
		<key>image_name</key>
		<string>pagoEfvoIconoTelecomm</string>
	</dict>
	<key>serfin_atm</key>
	<dict>
		<key>image_name</key>
		<string>pagoEfvoIconoSantander</string>
	</dict>
	<key>serfin_bank_transfer</key>
	<dict>
		<key>image_name</key>
		<string>pagoEfvoIconoSantander</string>
	</dict>
	<key>banamex_atm</key>
	<dict>
		<key>image_name</key>
		<string>pagoEfvoIconoBanamex</string>
	</dict>
	<key>banamex_bank_transfer</key>
	<dict>
		<key>image_name</key>
		<string>pagoEfvoIconoBanamex</string>
	</dict>
	<key>oxxo</key>
	<dict>
		<key>image_name</key>
		<string>pagoEfvoIconoOxxo</string>
	</dict>
	<key>pagoefectivo_atm_full_carga_ticket</key>
	<dict>
		<key>image_name</key>
		<string>mediosFullCarga</string>
	</dict>
	<key>pagoefectivo_atm_scotiabank_ticket</key>
	<dict>
		<key>image_name</key>
		<string>mediosScotiabank</string>
	</dict>
	<key>pagoefectivo_atm_interbank_ticket</key>
	<dict>
		<key>image_name</key>
		<string>mediosInterbank</string>
	</dict>
	<key>pagoefectivo_atm_bcp_ticket</key>
	<dict>
		<key>image_name</key>
		<string>mediosBCP</string>
	</dict>
	<key>pagoefectivo_atm_bbva_continental_ticket</key>
	<dict>
		<key>image_name</key>
		<string>mediosBBVAContinental</string>
	</dict>
	<key>pagoefectivo_atm_western_union_ticket</key>
	<dict>
		<key>image_name</key>
		<string>mediosWesternUnion</string>
	</dict>
	<key>pagoefectivo_atm_kasnet_ticket</key>
	<dict>
		<key>image_name</key>
		<string>mediosKasnet</string>
	</dict>
	<key>pagoefectivo_atm_banbif_bank_transfer</key>
	<dict>
		<key>image_name</key>
		<string>mediosBanbif</string>
	</dict>
	<key>pagoefectivo_atm_pagoefectivo_atm</key>
	<dict>
		<key>image_name</key>
		<string>mediosPagoEfectivo</string>
	</dict>
	<key>abitab</key>
	<dict>
		<key>image_name</key>
		<string>mediosAbitab</string>
	</dict>
	<key>redpagos</key>
	<dict>
		<key>image_name</key>
		<string>mediosRedPagos</string>
	</dict>
	<key>efecty</key>
	<dict>
		<key>image_name</key>
		<string>mediosEfecty</string>
	</dict>
	<key>davivienda</key>
	<dict>
		<key>image_name</key>
		<string>mediosDavivienda</string>
	</dict>
	<key>provincial</key>
	<dict>
		<key>image_name</key>
		<string>mediosBBVAProvincial</string>
	</dict>
	<key>mercantil_atm</key>
	<dict>
		<key>image_name</key>
		<string>mediosMercantil</string>
	</dict>
	<key>mercantil_bank_transfer</key>
	<dict>
		<key>image_name</key>
		<string>mediosMercantil</string>
	</dict>
	<key>pagoefectivo_atm_scotiabank_bank_transfer</key>
	<dict>
		<key>image_name</key>
		<string>mediosScotiabank</string>
	</dict>
	<key>pagoefectivo_atm_interbank_bank_transfer</key>
	<dict>
		<key>image_name</key>
		<string>mediosInterbank</string>
	</dict>
	<key>pagoefectivo_atm_bcp_bank_transfer</key>
	<dict>
		<key>image_name</key>
		<string>mediosBCP</string>
	</dict>
	<key>pagoefectivo_atm_bbva_continental_bank_transfer</key>
	<dict>
		<key>image_name</key>
		<string>mediosBBVAContinental</string>
	</dict>
	<key>oca</key>
	<dict>
		<key>image_name</key>
		<string>mediosOca</string>
	</dict>
	<key>lider</key>
	<dict>
		<key>image_name</key>
		<string>mediosLider</string>
	</dict>
	<key>codensa</key>
	<dict>
		<key>image_name</key>
		<string>mediosCodensa</string>
	</dict>
	<key>movilred</key>
	<dict>
		<key>image_name</key>
		<string>mediosMovilred</string>
	</dict>
	<key>viabaloto</key>
	<dict>
		<key>image_name</key>
		<string>mediosViabaloto</string>
	</dict>
	<key>maestro</key>
	<dict>
		<key>image_name</key>
		<string>mediosMaestro</string>
	</dict>
	<key>magna</key>
	<dict>
		<key>image_name</key>
		<string>mediosMagna</string>
	</dict>
	<key>presto</key>
	<dict>
		<key>image_name</key>
		<string>mediosPresto</string>
	</dict>
	<key>servipag</key>
	<dict>
		<key>image_name</key>
		<string>mediosServipag</string>
	</dict>
	<key>webpay</key>
	<dict>
		<key>image_name</key>
		<string>mediosWebpay</string>
	</dict>
	<key>debcabal</key>
	<dict>
		<key>image_name</key>
		<string>mediosDebCabal</string>
	</dict>
	<key>pse</key>
	<dict>
		<key>image_name</key>
		<string>mediosPSE</string>
	</dict>
	<key>mercadopagocard</key>
	<dict>
		<key>image_name</key>
		<string>mediosMercadoPagoCard</string>
	</dict>
	<key>hipercard</key>
	<dict>
		<key>image_name</key>
		<string>mediosHipercard</string>
	</dict>
	<key>elo</key>
	<dict>
		<key>image_name</key>
		<string>mediosElo</string>
	</dict>
	<key>melicard</key>
	<dict>
		<key>image_name</key>
		<string>mediosIconoMercadlivre</string>
	</dict>
	<key>mercadopago_cc</key>
	<dict>
		<key>image_name</key>
		<string>medioMercadopago_cc</string>
	</dict>
	<key>bolbradesco</key>
	<dict>
		<key>image_name</key>
		<string>mediosIconoBoleto</string>
	</dict>
	<key>bolbradescoAzul</key>
	<dict>
		<key>image_name</key>
		<string>mediosIconoBoletoAzul</string>
	</dict>
	<key>bolbradesco_atm</key>
	<dict>
		<key>image_name</key>
		<string>mediosIconoBoleto</string>
	</dict>
	<key>bolbradesco_atmAzul</key>
	<dict>
		<key>image_name</key>
		<string>mediosIconoBoletoAzul</string>
	</dict>
	<key>bolbradesco_bank_transfer</key>
	<dict>
		<key>image_name</key>
		<string>mediosIconoBoleto</string>
	</dict>
	<key>bolbradesco_bank_transferAzul</key>
	<dict>
		<key>image_name</key>
		<string>mediosIconoBoletoAzul</string>
	</dict>
	<key>bolbradesco_ticket</key>
	<dict>
		<key>image_name</key>
		<string>mediosIconoBoleto</string>
	</dict>
	<key>bolbradesco_ticketAzul</key>
	<dict>
		<key>image_name</key>
		<string>mediosIconoBoletoAzul</string>
	</dict>
	<key>pec</key>
	<dict>
		<key>image_name</key>
		<string>mediosIconoPec</string>
	</dict>
	<key>pecAzul</key>
	<dict>
		<key>image_name</key>
		<string>mediosIconoPecAzul</string>
	</dict>
</dict>
</plist>
