COUNTLY_SERVER_URL=
COUNTLY_APP_KEY=
COUNTLY_SALT=
SENTRY_DSN=
GOOGLE_MAPS_BROWSER_KEY=
GOOGLE_MAPS_ANDROID_KEY=
TRANSISTORSOFT_LICENSE_KEY=
FACEBOOK_APP_ID=
FACEBOOK_CLIENT_TOKEN=
GOOGLE_SIGN_IN_CLIENT_ID=
DEFAULT_SERVER=
PRIMARY_COLOR=
CHECKOUT_SEARCH_ENABLED=0
