name: Build Android
on:
  workflow_dispatch:
    inputs:
      build_official:
        description: 'Build official app'
        required: true
        type: boolean
      build_coursiers_stephanois:
        description: 'Build Coursiers Stéphanois app'
        required: true
        type: boolean
      build_naofood:
        description: 'Build Naofood app'
        required: true
        type: boolean
      build_zampate:
        description: 'Build Zampate app'
        required: true
        type: boolean
jobs:
  default:
    if: ${{ inputs.build_official }}
    name: Build default app
    uses: ./.github/workflows/fastlane_android.yml
    secrets: inherit
    with:
      google_play_track: internal
  naofood:
    if: ${{ inputs.build_naofood }}
    name: Build Naofood app
    uses: ./.github/workflows/fastlane_android.yml
    with:
      instance: naofood
      instance_url: https://naofood.coopcycle.org
      app_name: Naofood
      primary_color: "#f8781f"
      package_name: fr.naofood.client
      keystore_key_alias: naofood
      keystore_key_password_secret: SIGNING_KEY_PASSWORD_NAOFOOD
      google_play_track: internal
      branch: beta
    secrets: inherit
  zampate:
    if: ${{ inputs.build_zampate }}
    name: Build Zampate app
    uses: ./.github/workflows/fastlane_android.yml
    with:
      instance: zampate
      instance_url: https://zampate.coopcycle.org
      app_name: Zampate
      primary_color: "#d02e26"
      package_name: fr.coopcycle.zampate
      keystore_key_alias: instance
      keystore_key_password_secret: SIGNING_KEY_PASSWORD_INSTANCE
      google_play_track: beta
    secrets: inherit
  coursiers_stephanois:
    if: ${{ inputs.build_coursiers_stephanois }}
    name: Build Les Coursiers Stéphanois app
    uses: ./.github/workflows/fastlane_android.yml
    with:
      instance: coursiers_stephanois
      instance_url: https://coursiers-stephanois.coopcycle.org
      app_name: Les Coursiers Stéphanois
      primary_color: "#85b544"
      package_name: fr.coopcycle.coursiers_stephanois
      keystore_key_alias: instance
      keystore_key_password_secret: SIGNING_KEY_PASSWORD_INSTANCE
      google_play_track: beta
    secrets: inherit
