name: Build Android
on: [workflow_dispatch]
jobs:
  default:
    if: false
    name: Build default app
    uses: ./.github/workflows/fastlane_android.yml
    secrets: inherit
  naofood:
    if: false
    name: Build Naofood app
    uses: ./.github/workflows/fastlane_android.yml
    with:
      instance: naofood
      instance_url: https://naofood.coopcycle.org
      app_name: Naofood
      primary_color: "#f8781f"
      package_name: fr.naofood.client
      checkout_search_enabled: '1'
      keystore_key_alias: naofood
      keystore_key_password_secret: SIGNING_KEY_PASSWORD_NAOFOOD
    secrets: inherit
  zampate:
    if: true
    name: Build Zampate app
    uses: ./.github/workflows/fastlane_android.yml
    with:
      instance: zampate
      instance_url: https://zampate.coopcycle.org
      app_name: Zampate
      primary_color: "#d02e26"
      package_name: fr.coopcycle.zampate
      checkout_search_enabled: '0'
      keystore_key_alias: instance
      keystore_key_password_secret: SIGNING_KEY_PASSWORD_INSTANCE
    secrets: inherit
