name: Fastlane iOS
on:
  workflow_call:
    inputs:
      instance:
        type: string
        required: false
      instance_url:
        type: string
        required: false
      app_name:
        type: string
        required: false
jobs:
  FASTLANE_IOS:
    name: Build for iOS
    runs-on: macOS-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: '16.x'
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.1'
          bundler-cache: true
      - name: Install RubyGems
        working-directory: ios/
        run: bundle install
      # https://github.com/actions/cache/blob/main/examples.md#node---yarn
      - name: Get yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "::set-output name=dir::$(yarn cache dir)"
      - uses: actions/cache@v3
        id: yarn-cache # use this to check for `cache-hit` (`steps.yarn-cache.outputs.cache-hit != 'true'`)
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-
      - name: Install dependencies
        run: yarn install
      - name: Install CocoaPods plugins
        run: gem install cocoapods-user-defined-build-types
      - name: Cache Pods
        uses: actions/cache@v2
        id: cache-pods
        with:
          path: ios/Pods
          key: pods-${{ hashFiles('**/Podfile.lock') }}
      - name: Install Pods
        working-directory: ios/
        run: pod install
      - name: Generate icons
        if: ${{ inputs.instance != '' }}
        working-directory: ios/
        run: bundle exec fastlane generate_icons
        env:
          APPICON_IMAGE_FILE: "fastlane/metadata-${{ inputs.instance }}/app_icon.png"
      - name: Rename app
        if: ${{ inputs.app_name != '' }}
        working-directory: ios/
        run: bundle exec fastlane rename_app
        env:
          COOPCYCLE_APP_NAME: ${{ inputs.app_name }}
      - run: git status
