name: Test
on: [push, pull_request]
jobs:
  LINT_AND_TEST:
    env:
      COUNTLY_SERVER_URL: ''
      COUNTLY_APP_KEY: ''
      COUNTLY_SALT: ''
    name: Basic tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '20.x'
          cache: 'yarn'
      - name: Install latest yarn binary
        run: yarn set version latest --yarn-path
      - name: yarn install
        run: yarn install --no-progress --network-timeout 100000 --network-concurrency 1
      - run: yarn lint
      - run: yarn i18n-lint
      - run: yarn test
